<link rel="stylesheet" href="/style/mainPage.css">
<script defer src="/js/mainPage.js"></script>
<div class="headDiv">
    <h2>Топ аниме по версии Anilist</h2>
</div>
<div>
    <div class="contentBox">
        {{#each animeStat}}
        <div class="box">
            <img src="{{this.coverImage.large}}" />
            <div class="textContent">
            <p>{{this.title.english}}</p>
            <div class="format">
            <div class="rating">Формат: <div>{{this.format}}</div></div>
            <div class="rating">Статус: <div>{{this.status}}</div></div>
            </div>
            <div class="rating">Эпизоды: <div>{{this.episodes}}</div></div>
            <div class="rating">Рейтинг: <div class="score">{{this.averageScore}}</div></div>
            </div>
            <div class="genreBox">
                {{#each this.genres}}
                <div class="genre">{{this}}</div>
                {{/each}}
            </div>
        </div>

        {{/each}}
    </div>
</div>
<div class="pagination">
    <div class="prew">PREV</div>
    <div class="next">NEXT</div>
</div>
    <form class="select">
        <input class="input" type="number"/>
        <div class="go">GO</div>
    </form>